.current {
  width: 85vw;
  margin: 0 auto;
  background-color: var(--primary);
  padding: 20px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.current-hourly {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .current-hourly {
    flex-direction: column;
    gap: 20px;
  }
}

/* Tablet media query */
@media (max-width: 768px) {
  .current {
    width: 100%;
    padding: 15px;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
  }

  .current-hourly {
    flex-direction: column;
    gap: 20px;
  }
}

/* Mobile media query */
@media (max-width: 480px) {
  .current {
    width: 100%;
    padding: 10px;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
  }

  .current-hourly {
    flex-direction: column;
    gap: 15px;
  }
}