.hourly-preview {
  margin-left: 20px;
}

.hourly-preview-boxes {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.hourly-preview-item {
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 200px;
  box-shadow: var(--shadow);
}

@media (max-width: 1024px) {
  .hourly-preview {
    margin: 0;
  }

  .hourly-preview-boxes {
    justify-content: center;
  }
}

/* Tablet media query */
@media (max-width: 768px) {
  .hourly-preview-boxes {
    margin-top: 15px;
    padding-bottom: 10px;
  }

  .hourly-preview-item {
    /* width: 90px;
    height: 180px; */
    padding: 8px;
    margin-right: 8px;
    font-size: 0.85rem;
  }
}

/* Mobile media query */
@media (max-width: 480px) {
  .hourly-preview-item {
    width: 80px;
    height: 160px;
    padding: 8px;
    margin-right: 8px;
    font-size: 0.75rem;
  }
}